<?js
var self = this;
?>
<div class="navigation">
    <h3 class="applicationName">
        <a href="//naver.github.io/egjs/"><img style="width:40px; height:20px;" src="img/type_white.svg"/></a>

        <!-- Homepage link (prefer link.home than applicationName) -->
        <?js if ( env.conf.templates.link && env.conf.templates.link.home ) { ?>
        <a href="<?js= env.conf.templates.link.home ?>"><?js= env.conf.templates.applicationName.replace("eg.","") ?></a>
        <?js } else { ?>
        <a href="//naver.github.io/egjs-<?js= env.conf.templates.applicationName.replace("eg.","").toLocaleLowerCase() ?>/"><?js= env.conf.templates.applicationName.replace("eg.","") ?></a>
        <?js }; ?>
    </h3>

    <div class="search">
        <input id="search" type="text" class="form-control input-sm" placeholder="Search Documentations">
    </div>
    <ul class="list">
        <li class="item">
            <span class="title">
                <a href="index.html">README</a>
            </span>
        </li>
    <?js if ( Object.keys(self.nav).length === 1 && self.nav.hasOwnProperty("Global") ) { ?>
        <!-- Non Grouping Version -->
        <?js self.nav["Global"].forEach(function (item) {?>
            <?js= self.partial('navigation-item.tmpl', item) ?>
        <?js }); ?>
    <?js } else { ?>
    <?js for (var groupName in self.nav) { ?>
        <!-- Grouping Version -->
        <ul class="group">
        <span><?js=groupName?></span>
        <?js self.nav[groupName].forEach(function (item) {?>
            <?js= self.partial('navigation-item.tmpl', item) ?>
        <?js }); ?>
        </ul>
    <?js };
    }
    ?>
    </ul>
</div>
