<?js
var self = this;
?>
<div class="navigation">
    <h3 class="applicationName"><a href="//naver.github.io/egjs/"><?js= env.conf.templates.applicationName ?></a></h3>

    <div class="search">
        <input id="search" type="text" class="form-control input-sm" placeholder="Search Documentations">
    </div>
    <ul class="list">
    <?js if ( Object.keys(self.nav).length === 1 && self.nav.hasOwnProperty("Global") ) { ?>
        <!-- Non Grouping Version -->
        <?js self.nav["Global"].forEach(function (item) {?>
            <?js= self.partial('navigation-item.tmpl', item) ?>
        <?js }); ?>
    <?js } else { ?>
    <?js for (var groupName in self.nav) { ?>
        <!-- Grouping Version -->
        <ul class="group">
        <span><?js=groupName?></span>
        <?js self.nav[groupName].forEach(function (item) {?>
            <?js= self.partial('navigation-item.tmpl', item) ?>
        <?js }); ?>
        </ul>
    <?js };
    }
    ?>
    </ul>
</div>
